// Styling for the book section
section#booking {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../img/book-bg.jpg') no-repeat center center fixed;
  height: 480px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .container {
    height: 480px;
    display: flex;
    flex-flow: column;
    justify-content: center;

    .row {
      display: flex;
      margin: auto;
    }

    .row-booking-button {
      color: white;
      justify-content: center;

      .col-booking-button {
        .booking-button {
          display: flex;
          .btn {
            display: flex;
            margin: 30px auto;
          }
        }

        .right {
          text-align: right;
          margin-right: 30px;
        }
      }
      @media(min-width:768px) {
        margin: 0;
        .col-booking-button {
          display: flex;
          flex-flow: column;
          margin: 0;
          width: 300px;
        }
      }
    }
  }
}
